name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    env:
      RAILS_ENV: test
      DATABASE_URL: sqlite3:db/test.sqlite3

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.4"
          bundler-cache: true

      - name: Prepare database
        run: |
          ruby bin/rails db:prepare

      - name: Run RuboCop
        run: |
          bundle exec rubocop

      - name: Run tests
        run: |
          ruby bin/rails test
